# Dependencias de Node.js en cualquier nivel del proyecto
node_modules/


# Archivos generados
/Frontend/dist/
/Frontend/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos del sistema
.DS_Store
Thumbs.db
