fastapi
uvicorn[standard]
sqlalchemy
PyMySQL
python-jose[cryptography]
passlib[argon2]
python-multipart
python-dotenv
cryptography

langchain
langchain-openai
langchain-community
faiss-cpu
tiktoken
openai